<div>
    <div class="slider">
        <!-- landing slide -->
        <div class="slide active-slide slide-feature">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#">
                            <img src="img/navy.jpeg"
                                 width="200">
                        </a>
                        <a href="#">Standards Transition Acknowledgment Requirements Training</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container jpad-top-64">
        <div class="row">
            <div class="col-md-4">
                <span class="fa fa-anchor fa-4x"></span>
                <h4>Easily Navigate START</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias asperiores aspernatur
                    dolores doloribus, ducimus eligendi explicabo fugiat illo ipsam laborum magnam, magni non odit,
                    pariatur provident quod repudiandae sapiente.</p>
            </div>
            <div class="col-md-4">
                <span class="fa fa-area-chart fa-4x"></span>
                <h4>Create an Account to track progress</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias asperiores aspernatur
                    dolores doloribus, ducimus eligendi explicabo fugiat illo ipsam laborum magnam, magni non odit,
                    pariatur provident quod repudiandae sapiente.</p>
            </div>
            <div class="col-md-4">
                <span class="fa fa-users fa-4x"></span>
                <br>
                <h4>Use the chat system </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias asperiores aspernatur
                    dolores doloribus, ducimus eligendi explicabo fugiat illo ipsam laborum magnam, magni non odit,
                    pariatur provident quod repudiandae sapiente.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h1>Hello, Deppers!</h1>
            <p>
                You can use this Web App to Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid amet animi architecto blanditiis
                earum error eveniet expedita illo ipsam minus officia omnis qui quibusdam, quos repellendus similique totam,
                voluptatum!
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

</div>