<div class="container" data-ng-controller="HeaderCtrl">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/" class="navbar-brand">Julius3D</a>
    </div>

    <nav class="collapse navbar-collapse" uib-collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user)">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'"
                    data-ng-if="item.shouldRender(authentication.user)"
                    ng-switch="item.menuItem" ui-route="{{item.uiRoute}}"
                    class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}"
                    dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle">
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
                <a></a>
            </li>
        </ul>
    </nav>
</div>